<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pancake Flipper</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel = "stylesheet" type = "text/css" href = "../static/css/style.css" />

  <!-- JQuery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <!-- Scripts -->
 <script src="../static/js/script.js" type="text/javascript"> </script>

</head>
<body>
<center>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>

    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Pancake Flipper</h1>
    <p>A Python WebApp created with Django</p>
  </div>
</div>

<img src= "https://i.imgur.com/19r6uG8.jpg" width="500px">

<h2>About Google Code Jam</h2>
<div class="jumbotron">
  <div class="container text-center">
<p>Code Jam calls on programmers around the world to put their skills to the test by solving multiple rounds of algorithmic puzzles. The online rounds conclude in the World Finals, which rotates globally. In addition to being challenging and fun, Code Jam problems can help you develop your coding and programming skills. If you've never tried Code Jam, what are you waiting for? If you're a returning participant, welcome back</p>
  </div>
  </div>

<img src="../static/img/pancakes.png" width="100"><img src="../static/img/pancakes.png" width="100"><img src="../static/img/pancakes.png" width="100">

<h2>The Pancake Flipper</h2>
<div>
<div class="jumbotron">
  <div class="container text-center">
<p>Last year, the Infinite House of Pancakes introduced a new kind of pancake. It has a happy face made of chocolate chips on one side (the "happy side"), and nothing on the other side (the "blank side").

You are the head cook on duty. The pancakes are cooked in a single row over a hot surface. As part of its infinite efforts to maximize efficiency, the House has recently given you an oversized pancake flipper that flips exactly K consecutive pancakes. That is, in that range of K pancakes, it changes every happy-side pancake to a blank-side pancake, and vice versa; it does not change the left-to-right order of those pancakes.

You cannot flip fewer than K pancakes at a time with the flipper, even at the ends of the row (since there are raised borders on both sides of the cooking surface). For example, you can flip the first K pancakes, but not the first K - 1 pancakes.

Your apprentice cook, who is still learning the job, just used the old-fashioned single-pancake flipper to flip some individual pancakes and then ran to the restroom with it, right before the time when customers come to visit the kitchen. You only have the oversized pancake flipper left, and you need to use it quickly to leave all the cooking pancakes happy side up, so that the customers leave feeling happy with their visit.

Given the current state of the pancakes, calculate the minimum number of uses of the oversized pancake flipper needed to leave all pancakes happy side up, or state that there is no way to do it.
<br><br>
Please give a row of pancakes. x for smiley pancake and o for a plain pancake. The k represents the size of the flipper. It should be an integer larger than 1 and smaller than number of pancakes
</p>
<br><br>
    <form>
        <p>Enter a row: <input type="text" id="row"></p>
        <p>Enter k: <input type="text" id="k"></p>
        <button type="submit" id="button"> Flip! </button>
    </form>
</div>
</div>
</div>

<img src="../static/img/pancakes.png" width="100"><img src="../static/img/pancakes.png" width="100"><img src="../static/img/pancakes.png" width="100">
<div class="container">
  <h2>About Us</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#pesron">Mauro José Pappaterra</a></li>
    <li><a data-toggle="tab" href="#pesron1">Alexandros Patsanis</a></li>
    <li><a data-toggle="tab" href="#pesron2">Arnthor Helgi Sverrisson</a></li>
    <li><a data-toggle="tab" href="#pesron3">Iosif Kakalelis</a></li>
  </ul>

  <div class="tab-content">
    <div id="pesron" class="tab-pane fade in active">
      <h3>Mauro José Pappaterra</h3>
      <div class="jumbotron">
      <div class="container text-center">
      <img src="../static/img/mauro.jpg" class="img-circle" alt="Cinque Terre" width="200" height="250">
      <p>I am a master student in Computer Science at Uppsala Universitet in Sweden. My main interests include artificial intelligence, sofware development, database systems, computer science and web and mobile development. I am currently studying Artificial Intelligence, Functional Programming and Human Computer Interaction. I am hoping to study in China for a year with the Sino-Swedish Master program at Uppsala University. In my free time I like to swim, read all sorts of books, program and travel around the world.</p>
          <a target="_blank" href="https://www.linkedin.com/in/pappaterra/" class="fa fa-linkedin"></a>
        </div>
        </div>
    </div>
    <div id="pesron1" class="tab-pane fade">
      <h3>Alexandros Patsanis</h3>

      <div class="jumbotron">
      <div class="container text-center">
      <img src="../static/img/alex.jpg" class="img-circle" alt="Cinque Terre" width="150" height="250">
      <p>An enthusiast in Software Engineering with an interest in programming methods.
         I am passionate about helping the world through the power of programming in
        conjunction with other fields like Education and the Sciences.I am a team
        player and enjoy being part of a group that advocates for the purpose of
        strengthening research. An analytical mind and desire to solve complex
        problems is demonstrated by my skills in using proper software development
        methodologies. Passionate to find solutions that can be used across various
        situations. Strong interest in design patterns and computer language skills
        and patterns, which allow developers to communicate.Through programming,
        I can contribute to finding solutions to many problems in different fields.</p>
        <a target="_blank" href="https://www.linkedin.com/in/alexander-patsanis-90a9a5a8/"  class="fa fa-linkedin" https://www.linkedin.com/in/alexander-patsanis-90a9a5a8/></a>
        <a target="_blank" href="https://www.facebook.com/alexpatsanis" class="fa fa-facebook"></a>
        <a target="_blank" href="https://twitter.com/AlexPatsanis" class="fa fa-twitter"></a>
      </div>
      </div>

    </div>
    <div id="pesron2" class="tab-pane fade">
      <h3>Arnthor Helgi Sverrisson</h3>
      <div class="jumbotron">
      <div class="container text-center">
        <img src="../static/img/arthur.jpg" class="img-circle" alt="Cinque Terre" width="250" height="250">
      <p>Arnthor Helgi Sverrisson: I'm from Reykjavik Iceland. I did my bachelor
        in Software Engineering in the University of Iceland. Currently I'm studying
        masters in Computer Science in Uppsala University in Uppsala Sweden.
        I'm taking Advanced Computer Science Studies in Sweden, Data Mining and
         Artificial Intelligence. I'm interested in machine learning and working
         with data. I intend to further my studies in this field here in Uppsala
          University. I also like web and mobile app development. my interests
          are travelling, watching and playing sports and programming.
</p>

          <a target="_blank" href="https://www.facebook.com/arntorhs" class="fa fa-facebook"></a>
          <a target="_blank" href="https://www.linkedin.com/in/arnthor-helgi-sverrisson/" class="fa fa-linkedin"></a>

        </div>
        </div>
    </div>
    <div id="pesron3" class="tab-pane fade">
      <h3>Iosif Kakalelis</h3>

      <div class="jumbotron">
      <div class="container text-center">
      <img src="../static/img/joseph.jpg" class="img-circle" alt="Cinque Terre" width="250" height="250" width="200">
      <p>My name is Iosif Kakalelis and I’m coming from Greece. I finished my bachelor degree of Applied Informatics in the University of Macedonia in Thessaloniki. My previous studies combined computer science with business, accounting and economics. I chose Uppsala because there is a wide range of courses you can pick and much freedom to shape your own study program. I still don’t know what to do after graduation but among my interests so far in IT is programming, software engineering and software development. I’d prefer a future career to a company rather than an academic career. Mathematics isn’t my strongest point; therefore, I’d like more to work with applied projects like business apps. Moreover, I have a 3-month internship experience in a company, where I was asked to develop a web app as a part of a group project. Finally, my expectation here is to fill the gaps I have by taking courses that weren’t included in my bachelor and improve or revise my current knowledge.</p>
          <a target="_blank" href="#" class="fa fa-linkedin"></a>
          <a target="_blank" href="#" class="fa fa-facebook"></a>
          <a target="_blank" href="#" class="fa fa-twitter"></a>
        </div>
        </div>

    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>






<br><br><br><br>

<h2>About</h2>
<div class="jumbotron">
  <div class="container text-center">
<p>In the context of module 3 we developed a web application implementing the pancake flipper algorithm from Google’s Code Jam competition. We achieved that by using Django framework. It was a new framework for every of us, so that was the main reason to choose it. Moreover, it comes with many benefits; It is fast, easy to learn, scalable, secure and have many extra plug-ins which facilitate multiple operations like authentication, object management etc. Also, not to forget that the programming language that uses is Python, which is very popular now.
</p>
<h3><b>HTTP Request Handling</b></h3>
<p>Django uses a file named urls.py which maps all the urls in the websites. It works as the routing file. Django has also its own functions to handle GET and POST http actions.
</p>
<h3><b>urls.py</b></h3>
<img src="../static/img/urls.png" />
<p>
  The server’s IP is  104.131.43.24 and the program runs in port 3000
(http://104.131.43.24:3000/).  This happens because Django uses an internal server inside the actual server, so we need to specify a port to run the application. This is one of the disadvantages of Django since it was impossible for us to deploy. It is a complex and not trivial procedure. However, this can be  justified because Django also concerns real time large scale application.
</p>
<h3><b>Data storage</b></h3>
<p>
  Django uses an internal database in the form of ORM (Object Relation Mapping). This can facilitate data management and save us precious time but could also be a victim because everything is based on Django ORM. We didn’t try to install our own database though. Finally, we only used a tiny part of Django capabilities since our project was relatively simple. However, it is a powerful tool with many features to research and exploit. It gave us for sure the mood to get involved with future projects.
</p>
<h3><b>Server Set Up</b></h3>
  <p>
    Create a droplet in Digital Ocean. Ours runs Ubuntu vs 16.04.3 LTS
  </p>
  <p>
    Download and install Python
  </p>
  <p>
    Download and install Django
  </p>
  <p>
    Create a new project
  </p>

<p></p>
<a href="https://www.digitalocean.com/community/tutorials/how-to-set-up-django-with-postgres-nginx-and-gunicorn-on-ubuntu-16-04">Full instruction we used to set-up the server</a>
<br />
<img src="../static/img/startproject.png" />
<p>
  In order to run the server, we just need to navigate to the directory where the project is saved and then simply run:
</p>
<p>
<i>python manage.py runserver</i>
</p>
<img src="../static/img/setup.png" width="600"/>
<img src="../static/img/setup2.png" width="600" />
<h3><b>SSH Configuraiton</b></h3>
<p>
  This is how we configured the SSH keys in Putty
</p>
<img src="../static/img/ssh1.png" />
<img src="../static/img/ssh2.png" />

<h3><b>Project components</b></h3>
  <p>
    <b>Settings_py:</b> Setting and configurations for the whole website
  </p>
  <p>
    <b>_init_py:</b> An empty file that tells python that this is a python package
  </p>
  <p>
    <b>Urls.py:</b> See above in Http Request Handling section
  </p>
  <p>
    <b>Wsqi.py:</b> Webserver Gateway Interface
  </p>
<p>
  A static folder is also included which contains all the CSS styling sheets, images and front-end JavaScript files. The back-end part is written in Python and implements the pancake flipper algorithm.
</p>
<a href="https://github.com/yogurt1989/Module3" class="fa fa-github"></a>
  </div>
  </div>

<img src="../static/img/pancakes.png" width="100"><img src="../static/img/pancakes.png" width="100"><img src="../static/img/pancakes.png" width="100">

</div><br><br>

<footer class="container-fluid text-center">
  <p></p>
</footer>
</center>
</body>
</html>
